
.image_container {
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.image_cover {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    opacity: 100%;
}

.image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
