html, body {
    margin: 0;
    height: 100vh;
    opacity: 90%;
}

label {
    font-size: 3rem;
    position: absolute;
}

.bacground_image {
    
    background-image: url("../images/reservation_page_background_02.jpg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-size {
    height: 100%;
}

.customScroll {
    display: inline-block;
    width: 30em;
    overflow: auto;
    height: 30em;
  }

.customScroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }
  
.customScroll::-webkit-scrollbar-thumb{
    background: #000;
  }