html, body {
    margin: 0;
    height: 100vh;
    opacity: 100%;
}

label {
    font-size: 3rem;
    position: absolute;
}

.opacityBackground {
  background-color: rgba(0,0,0,0.3);
}

.bacground_image {
   
    background: url("../images/reservation_page_background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.full-size {
    height: 100%;
}

.customScroll {
    display: inline-block;
    width: 30em;
    overflow: auto;
    height: 30em;
  }

.customScroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
    border-radius: 6px;
  }
  
.customScroll::-webkit-scrollbar-thumb{
    background: #c70a0c;
    border-radius: 6px;
  }

  .svgIcons {
    transform: scale(2.5);
  }